body {
  background-color: red;
}
.mountain-head {
    display: flex;
    flex-direction: column;
  }
  
img {
    width: 100%;
    height: auto;
  }
   
  /* @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    } */